blinker==1.9.0
boto3==1.36.26
botocore==1.36.26
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cryptography==44.0.2
Deprecated==1.2.18
dotenv==0.9.9
Flask==3.1.0
Flask-Limiter==3.10.1
Flask-WTF==1.2.2
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
jmespath==1.0.1
limits==4.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
ordered-set==4.1.0
packaging==24.2
pycparser==2.22
pycryptodome==3.21.0
Pygments==2.19.1
pyotp==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
qrcode==8.0
requests==2.32.3
rich==13.9.4
s3transfer==0.11.2
six==1.17.0
typing_extensions==4.12.2
urllib3==2.3.0
Werkzeug==3.1.3
wrapt==1.17.2
WTForms==3.2.1
